conda==4.13.0
conda-build==3.21.8
Cython 
efficientnet-pytorch==0.7.1
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
joblib 
json5 
jsonschema 
matplotlib 
matplotlib-inline 
notebook 
opencv-python==4.5.5.64
opencv-python-headless==4.6.0.66
opendatasets==0.1.22
pandas 
Pillow==9.0.1
scikit-image 
scikit-learn 
scikit-learn-intelex==2021.20220215.102710
scipy 
tables==3.6.1
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm 
wandb==0.12.17w